VITE_SUPABASE_URL=https://matqxbjpgubuyacnocvf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1hdHF4YmpwZ3VidXlhY25vY3ZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4Njk2NDQsImV4cCI6MjEwNDQ0NTY0NH0.Njvs1jupJToIiNvG86Ac2B_6fqUre1Ua6pb14lRBJts
VITE_SUPABASE_URL=https://TU-PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=TU_ANON_KEY
